name: docker build

on:
    workflow_dispatch:

jobs:
    main:
        runs-on: ubuntu-latest
        steps:
            - name: Get latest release version
              id: get_release
              run: |
                  RELEASE_INFO=$(curl -s https://api.github.com/repos/ggml-org/llama.cpp/releases/latest)

                  VERSION=$(echo $RELEASE_INFO | jq -r '.tag_name')
                  echo "Latest version: $VERSION"

                  echo "LLAMA_VERSION=$VERSION" >> $GITHUB_ENV
                  echo "LLAMA_VERSION2=${VERSION:1}" >> $GITHUB_ENV
                  echo "LLAMA_VERSION=$VERSION" >> $GITHUB_OUTPUT
                  echo "Set LLAMA_VERSION=$VERSION"

            - name: Display version
              run: |
                  echo "LLAMA_VERSION is set to: ${{ env.LLAMA_VERSION }}"
                  echo "${{steps.get_release.outputs.LLAMA_VERSION}}"
            - name: Checkout code
              uses: actions/checkout@v5
              with:
                  repository: "wszgrcy/llamacpp-docker"
                  ref: main
                  token: ${{secrets.DOCKER_REPO}}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.DOCKER_TOKEN }}

            - name: metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ github.actor }}/lms

            - name: build
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: ./dockerfile
                  push: true
                  tags: ghcr.io/${{github.actor}}/lms:1.0.${{ env.LLAMA_VERSION2 }}
                  labels: ${{ steps.meta.outputs.labels }}
                  target: builder
                  build-args: |
                      LLAMA_VERSION=${{ env.LLAMA_VERSION }}
                      LLAMA_SWAP_VERSION=173
