name: docker build

on:
    workflow_dispatch:
    schedule:
        - cron: "0 */3 * * *"

jobs:
    main:
        runs-on: ubuntu-latest
        steps:
            - name: Get latest release version
              id: get_release
              run: |
                  RELEASE_INFO=$(curl -s https://api.github.com/repos/lemonade-sdk/llamacpp-rocm/releases/latest)

                  VERSION=$(echo $RELEASE_INFO | jq -r '.tag_name')
                  echo "Latest version: $VERSION"

                  echo "LLAMA_VERSION=$VERSION" >> $GITHUB_ENV
                  echo "LLAMA_VERSION2=${VERSION:1}" >> $GITHUB_ENV
                  echo "LLAMA_VERSION=$VERSION" >> $GITHUB_OUTPUT
                  echo "Set LLAMA_VERSION=$VERSION"

            - name: Display version
              run: |
                  echo "LLAMA_VERSION is set to: ${{ env.LLAMA_VERSION }}"
                  echo "${{steps.get_release.outputs.LLAMA_VERSION}}"
            - name: Checkout code
              uses: actions/checkout@v5
              with:
                  repository: "wszgrcy/llamacpp-docker"
                  ref: main
                  token: ${{secrets.DOCKER_REPO}}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.DOCKER_TOKEN }}

            - name: metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ github.actor }}/lms-rocm

            - name: Check if image already exists
              id: check_image
              run: |
                  IMAGE_NAME="ghcr.io/${{github.actor}}/lms-rocm:1.0.${{ env.LLAMA_VERSION2 }}"
                  echo "Checking for image: $IMAGE_NAME"

                  if docker pull "$IMAGE_NAME" > /dev/null 2>&1; then
                    echo "Image already exists, skipping build."
                    echo "image_exists=true" >> $GITHUB_ENV
                  else
                    echo "Image does not exist, proceeding with build."
                    echo "image_exists=false" >> $GITHUB_ENV
                  fi
            - name: build
              uses: docker/build-push-action@v5
              if: env.image_exists == 'false'
              with:
                  context: .
                  file: ./dockerfile.rocm1151
                  push: true
                  tags: ghcr.io/${{github.actor}}/lms-rocm:1.0.${{ env.LLAMA_VERSION2 }}
                  labels: ${{ steps.meta.outputs.labels }}
                  target: builder
                  build-args: |
                      LLAMA_VERSION=${{ env.LLAMA_VERSION }}
                      LLAMA_SWAP_VERSION=173
