name: docker build

on:
    workflow_dispatch:
    schedule:
        - cron: "0 */3 * * *"

jobs:
    main:
        runs-on: ubuntu-latest
        steps:
            - name: vulkan-version
              run: |
                  RELEASE_INFO=$(curl -s https://api.github.com/repos/ggml-org/llama.cpp/releases/latest)
                  VERSION=$(echo $RELEASE_INFO | jq -r '.tag_name')
                  echo "VULKAN_VERSION=$VERSION" >> $GITHUB_ENV
                  echo "Set VULKAN_VERSION=$VERSION"
            - name: rocm-version
              run: |
                  RELEASE_INFO=$(curl -s https://api.github.com/repos/lemonade-sdk/llamacpp-rocm/releases/latest)
                  VERSION=$(echo $RELEASE_INFO | jq -r '.tag_name')
                  echo "ROCM_VERSION=$VERSION" >> $GITHUB_ENV
                  echo "Set ROCM_VERSION=$VERSION"
            - name: Checkout code
              uses: actions/checkout@v5
              with:
                  repository: "wszgrcy/llamacpp-docker"
                  ref: main
                  token: ${{secrets.DOCKER_REPO}}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.DOCKER_TOKEN }}

            - name: metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ github.actor }}/lms

            - name: Check if image already exists
              id: check_image
              run: |
                  IMAGE_NAME="ghcr.io/${{github.actor}}/lms:${{ env.VULKAN_VERSION2 }}"
                  echo "Checking for image: $IMAGE_NAME"

                  if docker pull "$IMAGE_NAME" > /dev/null 2>&1; then
                    echo "Image already exists, skipping build."
                    echo "image_exists=true" >> $GITHUB_ENV
                  else
                    echo "Image does not exist, proceeding with build."
                    echo "image_exists=false" >> $GITHUB_ENV
                  fi
            - name: Check if image already exists
              id: check_image
              run: |
                  IMAGE_NAME="ghcr.io/${{github.actor}}/lms-rocm:${{ env.VULKAN_VERSION }}-${{ env.ROCM_VERSION }}"
                  echo "Checking for image: $IMAGE_NAME"

                  if docker pull "$IMAGE_NAME" > /dev/null 2>&1; then
                    echo "Image already exists, skipping build."
                    echo "rocm_image_exists=true" >> $GITHUB_ENV
                  else
                    echo "Image does not exist, proceeding with build."
                    echo "rocm_image_exists=false" >> $GITHUB_ENV
                  fi
            - name: build
              uses: docker/build-push-action@v5
              if: env.image_exists == 'false'
              with:
                  context: .
                  file: ./dockerfile
                  push: true
                  tags: ghcr.io/${{github.actor}}/lms:${{ env.VULKAN_VERSION }}
                  labels: ${{ steps.meta.outputs.labels }}
                  target: builder
                  build-args: |
                      VULKAN_VERSION=${{ env.VULKAN_VERSION }}
                      LLAMA_SWAP_VERSION=173
            - name: build
              uses: docker/build-push-action@v5
              if: env.rocm_image_exists == 'false'
              with:
                  context: .
                  file: ./dockerfile
                  push: true
                  tags: ghcr.io/${{github.actor}}/lms-rocm:${{ env.VULKAN_VERSION }}-${{ env.ROCM_VERSION }}
                  labels: ${{ steps.meta.outputs.labels }}
                  target: builder
                  build-args: |
                      VULKAN_VERSION=${{ env.VULKAN_VERSION }}
                      ROCM_VERSION=${{ env.ROCM_VERSION }}
                      LLAMA_SWAP_VERSION=173
