name: python-linux-pkg
run-name: python-linux-pkg
on:
  push:
    paths:
      - ".github/workflows/linux-pkg.yaml"

permissions:
  contents: write
env:
  envName: "funasr-env"
  version: 1.0.1
jobs:
  update-release:
    strategy:
      matrix:
        device: [cpu, cuda, rocm, xpu]
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo snap install dust
          dust -n 30 -d 3 /
          dust -n 30 -d 3
          exit 1
      - name: Free Disk Space (Ubuntu)
        uses: BRAINSia/free-disk-space@v2.1.1
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
          mandb: true

      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: "wszgrcy/FunASR"
          ref: "build"
          path: "./funasr"
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: "wszgrcy/shb-python2"
          token: ${{ secrets.SHB_PY_TOKEN }}
          path: ${{ env.envName }}
          ref: "funasr"
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: ${{secrets.INDEXTTS_REPO}}
          path: indextts
          ref: build
      - uses: conda-incubator/setup-miniconda@v3
        with:
          # auto-activate-base: true
          activate-environment: "./${{ env.envName }}/.venv"
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: install cpu
        if: ${{ matrix.device=='cpu' }}

        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cpu
          pip install https://github.com/wszgrcy/shb-python-addon-repo/releases/download/1.2.2/deepspeed-0.17.5+cpu-cp310-cp310-linux_x86_64.whl

      - name: install cuda
        if: ${{ matrix.device=='cuda' }}

        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cu129
          pip install https://github.com/wszgrcy/shb-python-addon-repo/releases/download/1.2.2/deepspeed-0.17.5+cu129-cp310-cp310-linux_x86_64.whl

      - name: install rocm
        if: ${{ matrix.device=='rocm' }}

        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/rocm6.4

      - name: install xpu
        if: ${{ matrix.device=='xpu' }}

        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/xpu

      - name: install indextts
        working-directory: indextts
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ../${{ env.envName }}/.venv
          uv sync --active
          pip install .
          pip install fastapi
          pip install uvicorn
          pip install huggingface_hub modelscope
          pip install openai-whisper
          pip install cachetools
          pip cache purge
          uv cache clean
      - name: install funasr
        working-directory: funasr
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ../${{ env.envName }}/.venv
          pip install .

      - name: 压缩包
        uses: wszgrcy/actions-pkg@1.4.1
        with:
          cleanUnzipDir: false
          unzipDir: ${{ env.envName }}
          zipPath: ./output/${{env.envName}}-${{ env.version }}-linux-x64-${{ matrix.device }}.tar.zstd
          zipLevel: "12"
          chunkSize: "1.95GB"
          password: "pass:${{secrets.PKG_PASSWORD}}"
          cleanPaths: |
            ./.venv/**/*.{h,cpp,c,hpp,cmake}
            ./.venv/conda-meta/**/*
            ./.venv/etc/conda/**/*
            ./.venv/Library/man
            ./.venv/Library/share
            ./.venv/Library/cmake
            ./.venv/Library/include
            ./.venv/Library/etc
            ./.venv/Library/WebP
            ./.venv/Library/lib/pkgconfig
            ./.venv/Library/ssl
            ./.venv/Tools/demo
            ./.venv/fonts
            ./.venv/include
            ./.venv/etc
            ./.venv/conda-meta
            ./.venv/share
            ./.venv/LICENSE_PYTHON.txt
            ./.git
            ./.vscode
            ./util
            ./zluda_init.py
      - name: release
        uses: softprops/action-gh-release@v2.4.0
        with:
          files: |
            ./output/**/*
          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
      - name: 清理
        run: |
          rm -rf ./output
          rm -rf ./funasr
          rm -rf ./indextts
          cp -r ./${{ env.envName }}/docker/* ./docker
          ls ./docker -lh

      - name: 二次清理
        uses: jlumbroso/free-disk-space@main

        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: 临时
        uses: wszgrcy/actions-pkg@1.4.1
        with:
          unzipDir: ./${{ env.envName }}
          zipPath: ./output/asr.tar.gz
          zipLevel: "7"
          chunkSize: "9999GB"
          zipType: "gz"
      - name: docker build
        run: |
          df -a
          df -a .
          df -h .
          docker build -t ${{env.envName}}:${{ env.version }}-${{ matrix.device }} -f ./docker/dockerfile.${{matrix.device}} .
          df -h .

          mkdir docker-image
          docker save -o ./docker-image/${{env.envName}}-${{ env.version }}-${{ matrix.device }}.docker.tar ${{env.envName}}:${{ env.version }}-${{ matrix.device }}
          docker image rm ${{env.envName}}:${{ env.version }}-${{ matrix.device }}
          # docker image rm ${{env.envName}}:${{ env.version }}-${{ matrix.device }}
      - name: 压缩docker
        uses: wszgrcy/actions-pkg@1.4.1
        with:
          unzipDir: ./docker-image
          zipPath: ./output/${{env.envName}}-${{ env.version }}-${{ matrix.device }}.docker.tar.zstd
          zipLevel: "12"
          chunkSize: "1.95GB"
          password: "pass:${{secrets.PKG_PASSWORD}}"
      - name: release
        uses: softprops/action-gh-release@v2.4.0
        with:
          files: |
            ./output/**/*
          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
