name: linux-deepspeed-cpu
run-name: linux-deepspeed-cpu
on:
  push:
    paths:
      - '.github/workflows/linux-deepspeed-cpu.yaml'

permissions:
  contents: write
env:
  version: 1.2.2
  DeepSpeedVersion: '0.17.5'
  TorchVersion: '2.8.0'
jobs:
  update-release:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo apt-get install -y libnccl2 libnccl-dev libaio-dev

      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: wszgrcy/DeepSpeed
          ref: v${{env.DeepSpeedVersion}}

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: './.venv'
          python-version: '3.10'
      - name: install dep
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          pip install torch==${{env.TorchVersion}} torchaudio==${{env.TorchVersion}} --index-url https://download.pytorch.org/whl/cpu
          pip install wheel ninja packaging py-cpuinfo psutil tqdm pydantic msgpack hjson einops numpy build oneccl-devel impi-devel
          pip install -r requirements/requirements-dev.txt
          pip install -r requirements/requirements.txt

      - name: build
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          CPATH=${CONDA_PREFIX}/include:$CPATH CCL_ROOT=${CONDA_PREFIX} I_MPI_ROOT=${CONDA_PREFIX} LD_LIBRARY_PATH=${CONDA_PREFIX}/lib/ccl/cpu:${CONDA_PREFIX}/lib/libfabric:${CONDA_PREFIX}/lib  DS_BUILD_SPARSE_ATTN=0 NCCL_DEBUG=INFO DS_BUILD_OPS=1  DS_BUILD_STRING="+cpu" DS_ACCELERATOR=cpu ./install.sh
      - run: ls ./dist
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./dist/**/*
          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
      - run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          pip install .\dist\deepspeed-${{env.DeepSpeedVersion}}+cpu-cp310-cp310-linux_x86_64.whl
          python -m deepspeed.env_report
