name: python-linux-pkg
run-name: python-linux-pkg
on:
  push:
    paths:
      - ".github/workflows/linux-pkg.yaml"

permissions:
  contents: write
env:
  envName: "funasr-env"
  version: 1.0.0
jobs:
  update-release:
    strategy:
      matrix:
        device: [cpu, cuda, rocm, xpu]
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: true
          swap-storage: true
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: "modelscope/FunASR"
          path: "./funasr"
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: "wszgrcy/shb-python2"
          token: ${{ secrets.SHB_PY_TOKEN }}
          path: ${{ env.envName }}
          ref: "funasr"
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: ${{secrets.INDEXTTS_REPO}}
          path: indextts
          ref: build
      - uses: conda-incubator/setup-miniconda@v3
        with:
          # auto-activate-base: true
          activate-environment: "./${{ env.envName }}/.venv"
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: install cpu
        if: ${{ matrix.device=='cpu' }}

        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cpu
          pip install https://github.com/wszgrcy/shb-python-addon-repo/releases/download/1.2.2/deepspeed-0.17.5+cpu-cp310-cp310-linux_x86_64.whl

      - name: install cuda
        if: ${{ matrix.device=='cuda' }}

        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cu129
          pip install https://github.com/wszgrcy/shb-python-addon-repo/releases/download/1.2.2/deepspeed-0.17.5+cu129-cp310-cp310-linux_x86_64.whl

      - name: install rocm
        if: ${{ matrix.device=='rocm' }}

        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/rocm6.4

      - name: install xpu
        if: ${{ matrix.device=='xpu' }}

        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/xpu

      - name: install common2
        working-directory: indextts
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ../${{ env.envName }}/.venv
          uv sync --active
          pip install .
          pip install fastapi
          pip install uvicorn
          pip install huggingface_hub
          pip install openai-whisper
          pip install cachetools
          pip cache purge

      - uses: wszgrcy/actions-pkg@1.3.3
        with:
          unzipDir: ${{ env.envName }}
          zipPath: ./${{env.envName}}-${{ env.version }}-linux-x64-${{ matrix.device }}.tar.zstd
          zstdLevel: "12"
          chunkSize: "1.95GB"
          password: "pass:${{env.PKG_PASSWORD}}"
          cleanPaths: |
            ./.venv/**/*.{h,cpp,c,hpp,cmake}
            ./.venv/conda-meta/**/*
            ./.venv/etc/conda/**/*
            ./.venv/Library/man
            ./.venv/Library/share
            ./.venv/Library/cmake
            ./.venv/Library/include
            ./.venv/Library/etc
            ./.venv/Library/WebP
            ./.venv/Library/lib/pkgconfig
            ./.venv/Library/ssl
            ./.venv/Tools/demo
            ./.venv/fonts
            ./.venv/include
            ./.venv/etc
            ./.venv/conda-meta
            ./.venv/share
            ./.venv/LICENSE_PYTHON.txt
            ./.git
            ./.vscode
            ./util
            ./zluda_init.py
      - run: |
          ls
          cat funasr-env-1.0.0-linux-x64-rocm.tar.zstd.enc.00* | openssl enc -d -aes-256-cbc -pbkdf2 -pass pass:${{env.PKG_PASSWORD}} >1.tar.zstd
          ls
        if: ${{ matrix.device=='rocm' }}
      - name: release
        uses: softprops/action-gh-release@v2.4.0
        with:
          files: |
            *.enc
            *.tar.zstd
            *.001
            *.002
            *.003
            *.004
          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
