name: linux-deepspeed-rocm
run-name: linux-deepspeed-rocm
on:
  push:
    paths:
      - '.github/workflows/linux-deepspeed-rocm.yaml'

permissions:
  contents: write
env:
  RUNNER_DEBUG: '1'
  version: 1.2.2
  DeepSpeedVersion: '0.17.5'
  TorchVersion: '2.8.0'
jobs:
  update-release:
    runs-on: ubuntu-24.04
    # container:
    #   image: rocm/composable_kernel:ck_ub24.04_rocm6.4.1_amd-mainline
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: false
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: true
          swap-storage: true


      - run: |
          uname -m && cat /etc/*release
          uname -srmv

          wget https://repo.radeon.com/amdgpu-install/6.4.3/ubuntu/noble/amdgpu-install_6.4.60403-1_all.deb
          sudo apt install ./amdgpu-install_6.4.60403-1_all.deb
          sudo apt update
          # sudo apt install python3-setuptools python3-wheel
          sudo apt install environment-modules
          sudo usermod -a -G render,video $LOGNAME # Add the current user to the render and video groups
          sudo apt install rocm
          printenv
          clinfo
      - run: |
          sudo apt-get install -y  libaio-dev
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: wszgrcy/DeepSpeed
          ref: v${{env.DeepSpeedVersion}}-rocm
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: './.venv'
          python-version: '3.10'
      - name: install dep
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          pip install torch==${{env.TorchVersion}} torchaudio==${{env.TorchVersion}} --index-url https://download.pytorch.org/whl/rocm6.4
          pip install wheel ninja packaging py-cpuinfo psutil
          pip install tqdm pydantic msgpack hjson einops
          pip install numpy  build
          pip install -r requirements/requirements-dev.txt
          pip install -r requirements/requirements.txt

      - name: build
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          echo "hello"
          sudo echo '#/bin/bash\necho gfx1100' > /opt/rocm/llvm/bin/amdgpu-arch && sudo chmod 755 /opt/rocm/llvm/bin/amdgpu-arch
          ls -lh /opt
          ls -lh /opt/rocm-6.4.3
          PYTORCH_ROCM_ARCH=gfx1100 AMDGPU_TARGETS=gfx1100 DS_ACCELERATOR=cuda LD_LIBRARY_PATH=/opt/rocm/lib PATH=$PATH:/opt/rocm/bin DS_BUILD_SPARSE_ATTN=0 NCCL_DEBUG=INFO DS_BUILD_OPS=1  DS_BUILD_STRING="+rocm" ./install.sh
      - run: ls ./dist
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./dist/**/*
          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
      - run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          pip install ./dist/deepspeed-${{env.DeepSpeedVersion}}+rocm-cp310-cp310-linux_x86_64.whl
          python -m deepspeed.env_report
