name: linux-deepspeed
run-name: linux-deepspeed
on:
  push:
    paths:
      - '.github/workflows/linux-deepspeed.yaml'

permissions:
  contents: write
env:
  RUNNER_DEBUG: '1'
  version: 1.2.2
  DeepSpeedVersion: '0.17.5'

jobs:
  update-release:
    strategy:
      matrix:
        include:
          - device: cu129
            version: '12.9.0'
            versionPath: '12.9'
            archList: '6.1;7.0;7.5;8.0;8.6;8.9;9.0;10.0;10.3;12.0'
          # - device: cu118
          #   version: '11.8.0'
          #   versionPath: '11.8'
          #   archList: '6.1;7.0;7.5;8.0;8.6;8.9;9.0'
          #   vsversion: '16.0'

    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - uses: Jimver/cuda-toolkit@v0.2.27
        id: cuda-toolkit
        with:
          cuda: ${{ matrix.version }}
      - run: |
          nvcc -V
          printenv
          whereis cuda
          ls -lh /usr/local/cuda-12.9
          ls -lh /usr/local/cuda-12.9/bin
          ls -lh /usr/local/cuda-12.9/include 
          ls -lh /usr/local/cuda-12.9/lib64  
          # type cuda
          which cuda
      - run: |
          sudo apt-get install -y libnccl2 libnccl-dev libaio-dev
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: wszgrcy/DeepSpeed
          ref: v${{env.DeepSpeedVersion}}
      # - name: pull-code
      #   uses: actions/checkout@v4
      #   with:
      #     repository: NVIDIA/cutlass
      #     path: __cutlass
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: './.venv'
          python-version: '3.10'
      - name: install dep
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/${{ matrix.device }}
          pip install wheel ninja packaging py-cpuinfo psutil
          pip install tqdm pydantic msgpack hjson einops
          pip install numpy  build
          pip install -r requirements/requirements-dev.txt
          pip install -r requirements/requirements.txt

      - name: build
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          echo "hello"
          echo $CUDA_HOME

          CUDA_HOME=$CUDA_PATH TORCH_CUDA_ARCH_LIST="6.1;7.0;7.5;8.0;8.6;8.9;9.0;10.0;10.3;12.0" DS_BUILD_SPARSE_ATTN=0 NCCL_DEBUG=INFO DS_BUILD_OPS=1  DS_BUILD_STRING="+${{ matrix.device }}" DS_ACCELERATOR=cuda ./install.sh
      - run: ls ./dist
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./dist/**/*
          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
      - run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          pip install ./dist/deepspeed-${{env.DeepSpeedVersion}}+${{ matrix.device }}-cp310-cp310-linux_x86_64.whl
          python -m deepspeed.env_report
