name: win-deepspeed
run-name: win-deepspeed
on:
  push:
    paths:
      - '.github/workflows/linux-deepspeed.yaml'

permissions:
  contents: write
env:
  RUNNER_DEBUG: '1'
  version: 1.2.2
  DeepSpeedVersion: '0.17.5'

jobs:
  update-release:
    strategy:
      matrix:
        include:
          - device: cu129
            version: '12.9.0'
            versionPath: '12.9'
            archList: '6.1;7.0;7.5;8.0;8.6;8.9;9.0;10.0;10.3;12.0'
          # - device: cu118
          #   version: '11.8.0'
          #   versionPath: '11.8'
          #   archList: '6.1;7.0;7.5;8.0;8.6;8.9;9.0'
          #   vsversion: '16.0'

    runs-on: ubuntu-latest
    steps:
      - uses: Jimver/cuda-toolkit@v0.2.27
        id: cuda-toolkit
        with:
          cuda: ${{ matrix.version }}
      - run: nvcc -V
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: wszgrcy/DeepSpeed
          ref: v${{env.DeepSpeedVersion}}
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: './.venv'
          python-version: '3.10'
      - name: install dep
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/${{ matrix.device }}
          pip install wheel ninja packaging py-cpuinfo psutil
          pip install tqdm pydantic msgpack hjson einops
          pip install numpy  build

      - name: build
        run: |
          conda activate ./.venv
          set DS_ACCELERATOR=cuda
          set TORCH_CUDA_ARCH_LIST=${{matrix.archList}}
          set DS_BUILD_STRING="+${{ matrix.device }}"
          ./build_win.bat
      - run: ls ./dist
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./dist/**/*
          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
      - run: |
          conda activate ./.venv
          pip install .\dist\deepspeed-${{env.DeepSpeedVersion}}+${{ matrix.device }}-cp310-cp310-win_amd64.whl
          python -m deepspeed.env_report
