name: shb-python-linux-builder
run-name: shb-python-linux-builder
on:
  push:
    paths:
      - '.github/workflows/linux-builder.yaml'

permissions:
  contents: write
env:
  RUNNER_DEBUG: '1'
  envName: 'shb-python'
  version: 1.0.0
jobs:
  update-release:
    strategy:
      matrix:
        device: [cpu, cuda, rocm]

    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: ${{secrets.INDEXTTS_REPO}}
          path: indextts
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: 'wszgrcy/shb-python2'
          token: ${{ secrets.SHB_PY_TOKEN }}
          path: ${{ env.envName }}
      - uses: conda-incubator/setup-miniconda@v3
        with:
          # auto-activate-base: true
          activate-environment: './${{ env.envName }}/.venv'
          python-version: '3.12'
      - run: |
          free -m
          # conda init --all
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          # conda info
        working-directory: ${{ env.envName }}
      - name: install common1
        working-directory: indextts
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ../${{ env.envName }}/.venv
          # conda info --envs
          conda install -c conda-forge ffmpeg

      - name: install cpu
        if: ${{ matrix.device=='cpu' }}
        working-directory: indextts
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ../${{ env.envName }}/.venv
          pip3 install torch torchaudio --index-url https://download.pytorch.org/whl/cpu
      - name: install cuda
        if: ${{ matrix.device=='cuda' }}
        working-directory: indextts
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ../${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cu118
      - name: install rocm
        if: ${{ matrix.device=='rocm' }}
        working-directory: indextts
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ../${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/rocm6.3
          df -h
          df -h .
      - name: install common2
        working-directory: indextts
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ../${{ env.envName }}/.venv
          pip install .
          pip install fastapi
          pip install uvicorn
          df -h
          df -h .
      - uses: wszgrcy/actions-pkg@1.1.9
        with:
          dir: ${{ env.envName }}
          outputPath: ./shb-python-addon-${{ env.version }}-linux-x64-${{ matrix.device }}.tar.zstd
          zstdLevel: '22'
          cleanPaths: |
            ./.venv/**/*.{h,cpp,c,hpp,cmake}
            ./.venv/conda-meta/**/*
            ./.venv/etc/conda/**/*
            ./.venv/Library/man
            ./.venv/Library/share
            ./.venv/Library/cmake
            ./.venv/Library/include
            ./.venv/Library/etc
            ./.venv/Library/WebP
            ./.venv/Library/lib/pkgconfig
            ./.venv/Library/ssl
            ./.venv/Tools/demo
            ./.venv/fonts
            ./.venv/include
            ./.venv/etc
            ./.venv/conda-meta
            ./.venv/share
            ./.git
            ./.vscode
            ./util
            ./zluda_init.py

      - run: |
          df -h
          ls -lh

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: shb-python-addon-${{ env.version }}-linux-x64-${{ matrix.device }}.tar.zstd
          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
