name: linux-deepspeed-rocm
run-name: linux-deepspeed-rocm
on:
  push:
    paths:
      - '.github/workflows/linux-deepspeed-rocm.yaml'

permissions:
  contents: write
env:
  RUNNER_DEBUG: '1'
  version: 1.2.2
  DeepSpeedVersion: '0.17.5'
  TorchVersion: '2.8.0'
jobs:
  update-release:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - run: |
          sudo apt-get install -y libnccl2 libnccl-dev libaio-dev
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: './.venv'
          python-version: '3.10'
      - run: |
          uname -m && cat /etc/*release
          uname -srmv

          wget https://repo.radeon.com/amdgpu-install/6.2.4/ubuntu/jammy/amdgpu-install_6.2.60204-1_all.deb
          sudo apt install ./amdgpu-install_6.2.60204-1_all.deb
          sudo apt update
          sudo apt install python3-setuptools python3-wheel
          sudo usermod -a -G render,video $LOGNAME # Add the current user to the render and video groups
          sudo apt install rocm
          printenv
          clinfo
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: wszgrcy/DeepSpeed
          ref: v${{env.DeepSpeedVersion}}-rocm

      - name: install dep
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          pip install torch==${{env.TorchVersion}} torchaudio==${{env.TorchVersion}} --index-url https://download.pytorch.org/whl/rocm6.2
          pip install wheel ninja packaging py-cpuinfo psutil
          pip install tqdm pydantic msgpack hjson einops
          pip install numpy  build
          pip install -r requirements/requirements-dev.txt
          pip install -r requirements/requirements.txt

      - name: build
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          echo "hello"
          ls -lh /opt
          ls -lh /etc/alternatives/rocm
          DS_ACCELERATOR=cuda LD_LIBRARY_PATH=/opt/rocm-6.2.0/lib PATH=$PATH:/opt/rocm-6.2.0/bin DS_BUILD_SPARSE_ATTN=0 NCCL_DEBUG=INFO DS_BUILD_OPS=1  DS_BUILD_STRING="+rocm" ./install.sh
      - run: ls ./dist
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./dist/**/*
          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
      - run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate ./.venv
          pip install ./dist/deepspeed-${{env.DeepSpeedVersion}}+rocm-cp310-cp310-linux_x86_64.whl
          python -m deepspeed.env_report
