name: shb-windows-builder
run-name: shb-windows-builder
on:
  push:
    paths:
      - '.github/workflows/shb-windows-builder.yaml'

permissions:
  contents: write
env:
  PUBLISH_VERSION: '1.103.35'
  NODE_VERSION: '22.17.0'
  VSCODE_VERSION: '1.103.2'
  ACTIONS_STEP_DEBUG: true
  __platform: 'win32'
  __arch: 'x64'
  SENTRY_AUTH_TOKEN: ${{secrets.SENTRY_AUTH_TOKEN}}
  channel: stable
jobs:
  update-release:
    runs-on: windows-latest
    # container:
    #   image: catthehacker/ubuntu:act-22.04
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Tailscale
        uses: tailscale/github-action@v3
        with:
          tags: tag:ci
          authkey: ${{secrets.TS_KEY}}
          args: ${{secrets.TS_ADD_ARGS}}
          hostname: github-ci-${{env.__platform}}-${{env.__arch}}

      - name: shenghuabi
        uses: actions/checkout@v4
        with:
          path: './shenghuabi'
          repository: 'root/shenghuabi'
          github-server-url: 'http://lan-server.chloc:3000'
          token: ${{secrets.REMOTE_REPO_TOKEN}}
          ref: main
      - name: nodejs
        uses: actions/setup-node@v4
        with:
          node-version: ${{env.NODE_VERSION}}
          cache: 'npm'
          cache-dependency-path: shenghuabi/package-lock.json
      - name: MSVC
        uses: ilammy/msvc-dev-cmd@v1.13.0
        with:
          arch: x64
          vsversion: '2022'
      - name: npm config
        run: echo "${{ secrets.REMOTE_NPMCONFIG }}" >>  ~/.npmrc
      - name: init
        run: |
          git config --global user.name "wszgrcy"
          git config --global user.email "wszgrcy@gmail.com"
      - name: main/webview install
        run: npm i
        working-directory: './shenghuabi'
        env:
          ELECTRON_SKIP_BINARY_DOWNLOAD: '1'
      - name: pre-build-download
        uses: wszgrcy/upload-s3-action@2.0.7
        id: commonPackage
        with:
          mode: download
          aws_key_id: ${{secrets.S3_ID}}
          aws_secret_access_key: ${{secrets.S3_KEY}}
          endpoint: ${{secrets.S3_ENDPOINT}}
          aws_bucket: 'shenghuabi-repo'
          source_dir: ${{env.VSCODE_VERSION}}/${{env.__platform}}-${{env.__arch}}-${{env.VSCODE_VERSION}}.tar.zstd
          destination_dir: './pre-build'
      - name: 解压缩预构建
        uses: wszgrcy/actions-pkg@1.2.5
        if: ${{ steps.commonPackage.outputs.exist=='true' }}
        with:
          mode: unzip
          unzipDir: ./vscode
          zipPath: ./pre-build/${{env.VSCODE_VERSION}}/${{env.__platform}}-${{env.__arch}}-${{env.VSCODE_VERSION}}.tar.zstd
          strip: 1
          cleanUnzipDir: false


      - name: 添加提交
        if: ${{ steps.commonPackage.outputs.exist=='true' }}
        working-directory: ./vscode
        run: |
          ls
          git init
          git add .
          git commit -m '1'

      - name: vscode仓库(如果不存在)
        if: ${{ steps.commonPackage.outputs.exist=='false' }}
        uses: actions/checkout@v4
        with:
          repository: 'microsoft/vscode'
          path: './vscode'
          ref: ${{env.VSCODE_VERSION}}

      - name: vscode构建
        if: ${{ steps.commonPackage.outputs.exist=='false' }}
        run: npm run build:common-package
        working-directory: './shenghuabi'
      - name: 压缩预构建
        uses: wszgrcy/actions-pkg@1.2.5
        if: ${{ steps.commonPackage.outputs.exist=='false' }}
        id: zipPreBuild
        with:
          mode: zip
          unzipDir: ./vscode
          zipPath: ./${{env.__platform}}-${{env.__arch}}-${{env.VSCODE_VERSION}}.tar.zstd
          zstdLevel: '19'
          cleanPaths: |
            ./.git/**/*
          cleanUnzipDir: false
      - run: |
          ls 
          echo "${{steps.zipPreBuild.outputs.zipFilePath}}"
      - name: 上传预构建
        uses: wszgrcy/upload-s3-action@2.0.7
        if: ${{ steps.commonPackage.outputs.exist=='false' }}
        with:
          mode: upload
          aws_key_id: ${{secrets.S3_ID}}
          aws_secret_access_key: ${{secrets.S3_KEY}}
          endpoint: ${{secrets.S3_ENDPOINT}}
          aws_bucket: 'shenghuabi-repo'
          source_dir: ./*.tar.zstd
          destination_dir: './${{env.VSCODE_VERSION}}'
      - name: 通用output
        run: npm run build:vscode-output
        working-directory: './shenghuabi'
      - name: 构建
        run: npm run move:extension
        working-directory: './shenghuabi'
      - name: user打包
        run: npm run build:user:win32-x64
        working-directory: './vscode'
      - name: 查看vscode构建
        run: |
          tree /f .build/win32-x64
        working-directory: './vscode'
      - name: github发行
        uses: wszgrcy/action-gh-release@2.0.1
        with:
          fail_on_unmatched_files: true
          files: './vscode/.build/win32-x64/**/*.{exe,deb,tar.gz}'
          repository: wszgrcy/shenghuabi-repo
          token: ${{secrets.SHB_REPO_UPLOAD}}
          tag_name: ${{env.PUBLISH_VERSION}}
      - name: Set hosts file entries
        shell: powershell
        run: |
          $hostsPath = "$env:SystemRoot\\System32\\drivers\\etc\\hosts"
          Add-Content -Path $hostsPath -Value "${{secrets.REMOTE_MANAGEMENT_HOST}}"
      - uses: wszgrcy/curl-actions@1.0.3
        if: ${{ env.channel=='stable' }}
        with:
          url: http://shenghuabi-management.local/api/version-management/publish
          headers: |
            Accept: */*
            token: ${{secrets.SHB_PUBLISH_TOKEN}}
            Content-Type: application/json
          body: |
            {"version":"${{env.PUBLISH_VERSION}}","platform":"win32_x64","list":["shenghuabi-win32-x64-${{env.PUBLISH_VERSION}}.setup.exe"]}
