name: shb-linux-builder
run-name: shb-linux-builder
on:
  push:
    paths:
      - '.github/workflows/ts-link.yaml'

permissions:
  contents: write
env:
  RUNNER_DEBUG: '1'
  buildVersion: '1.103.19'
  NODE_VERSION: '22.17.0'
  VSCODE_VERSION: '1.103.2'
jobs:
  update-release:
    runs-on: ubuntu-latest
    # container:
    #   image: catthehacker/ubuntu:act-22.04
    steps:
      # - name: Free Disk Space (Ubuntu)
      #   uses: jlumbroso/free-disk-space@main
      #   with:
      #     tool-cache: true
      #     android: true
      #     dotnet: true
      #     haskell: true
      #     large-packages: true
      #     docker-images: true
      #     swap-storage: true
      # - name: pull-code
      #   uses: actions/checkout@v4
      #   with:
      #     repository: ${{secrets.INDEXTTS_REPO}}
      #     path: indextts
      - run: |
         gcc -v
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: |
          sudo apt-get install build-essential g++ libx11-dev libxkbfile-dev libsecret-1-dev libkrb5-dev python-is-python3
      - name: nodejs
        uses: actions/setup-node@v4
        with:
          node-version: ${{env.NODE_VERSION}}
      - name: Tailscale
        uses: tailscale/github-action@v3
        with:
          tags: tag:ci
          authkey: ${{secrets.TS_KEY}}
          args: ${{secrets.TS_ADD_ARGS}}
          hostname: github-ci-win32

      - name: repo1
        uses: actions/checkout@v4
        with:
          path: './shenghuabi'
          repository: 'root/shenghuabi'
          github-server-url: 'http://lan-server.chloc:3000'
          token: ${{secrets.REMOTE_REPO_TOKEN}}
          ref: main
      
      
      - name: npm
        run: echo "${{ secrets.REMOTE_NPMCONFIG }}" >>  ~/.npmrc
      - name: main/webview
        run: npm i
        working-directory: './shenghuabi'
        env:
          ELECTRON_SKIP_BINARY_DOWNLOAD: '1'
      - name: vscode仓库(如果不存在)
        # if: ${{ steps.commonPackage.outputs.exist=='false' }}
        uses: actions/checkout@v4
        with:
          repository: 'microsoft/vscode'
          path: './vscode'
          ref: ${{env.VSCODE_VERSION}}
      

