name: shb-python-win-builder
run-name: shb-python-win-builder
on:
  push:
    paths:
      - '.github/workflows/win-builder.yaml'
    # tags:
    #   - shb-py

permissions:
  contents: write
env:
  RUNNER_DEBUG: '1'
  envName: 'shb-python'
  version: 1.2.1
jobs:
  update-release:
    strategy:
      matrix:
        device: [cpu, cuda, zluda, xpu]

    runs-on: windows-latest
    steps:
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: ${{secrets.INDEXTTS_REPO}}
          path: indextts
          ref: build
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: 'wszgrcy/shb-python2'
          token: ${{ secrets.SHB_PY_TOKEN }}
          path: ${{ env.envName }}
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: whatever
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - run: |
          conda create -p ./.venv python=3.10.18
          conda activate ./.venv
        working-directory: ${{ env.envName }}
      - name: install zluda1
        if: ${{ matrix.device=='zluda' }}
        working-directory: ${{ env.envName }}
        run: |
          conda activate ./.venv
          python zluda_init.py
      - name: install cuda
        if: ${{ matrix.device=='cuda' }}
        working-directory: indextts
        run: |
          conda activate ../${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cu129


      - name: install zluda
        if: ${{ matrix.device=='zluda' }}
        working-directory: indextts
        run: |
          conda activate ../${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cu118

      - name: install xpu
        if: ${{ matrix.device=='xpu' }}
        working-directory: indextts
        run: |
          conda activate ../${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/xpu
      - name: install cpu
        if: ${{ matrix.device=='cpu' }}
        working-directory: indextts
        run: |
          conda activate ../${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cpu
      - name: install common2
        working-directory: indextts
        run: |
          conda activate ../${{ env.envName }}/.venv
          uv sync --active
          pip install .
          pip install fastapi
          pip install uvicorn
          pip cache purge

      - uses: wszgrcy/actions-pkg@1.2.2
        with:
          dir: ${{ env.envName }}
          outputPath: ./shb-python-addon-${{ env.version }}-win32-x64-${{ matrix.device }}.tar.zstd
          zstdLevel: '22'
          chunkSize: '1.95GB'
          cleanPaths: |
            ./.venv/**/*.{h,cpp,c,hpp,cmake}
            ./.venv/conda-meta/**/*
            ./.venv/etc/conda/**/*
            ./.venv/Library/man
            ./.venv/Library/share
            ./.venv/Library/cmake
            ./.venv/Library/include
            ./.venv/Library/etc
            ./.venv/Library/WebP
            ./.venv/Library/lib/pkgconfig
            ./.venv/Library/ssl
            ./.venv/Tools/demo
            ./.venv/fonts
            ./.venv/include
            ./.venv/etc
            ./.venv/conda-meta
            ./.venv/share
            ./.venv/LICENSE_PYTHON.txt
            ./.git
            ./.vscode
            ./util
            ./zluda_init.py

      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            shb-python-addon-${{ env.version }}-win32-x64-${{ matrix.device }}.tar.zstd.001
            shb-python-addon-${{ env.version }}-win32-x64-${{ matrix.device }}.tar.zstd.002
            shb-python-addon-${{ env.version }}-win32-x64-${{ matrix.device }}.tar.zstd
          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
