name: win-deepspeed
run-name: win-deepspeed
on:
  push:
    paths:
      - '.github/workflows/win-deepspeed.yaml'

permissions:
  contents: write
env:
  RUNNER_DEBUG: '1'
  version: 1.2.3
  DeepSpeedVersion: '0.17.5'

jobs:
  update-release:
    strategy:
      matrix:
        include:
          - device: cu129
            version: '12.9.0'
            versionPath: '12.9'
            archList: '6.1;7.0;7.5;8.0;8.6;8.9;9.0;10.0;10.3;12.0'
            vsversion: '17.0'
          - device: cu118
            version: '11.8.0'
            versionPath: '11.8'
            archList: '6.1;7.0;7.5;8.0;8.6;8.9;9.0'
            vsversion: '16.0'

    runs-on: windows-latest
    steps:
      - name: install MSVC 2019
        if: ${{ matrix.device=='cu118' }}
        shell: pwsh
        run: |
          $vs_url = "https://aka.ms/vs/16/release/vs_buildtools.exe"
          Invoke-WebRequest -Uri $vs_url -OutFile "vs_buildtools.exe"
          if (-not (Test-Path "vs_buildtools.exe")) {
              Write-Error "Failed to download VS Build Tools"
              exit 1
          }
          $components = @(
             "Microsoft.Component.MSBuild",
             "Microsoft.VisualStudio.Component.Windows10SDK",
             "Microsoft.VisualStudio.Component.VC.Tools.x86.x64",
             "Microsoft.VisualStudio.Component.VC.Redist.14.Latest",
             "Microsoft.VisualStudio.Component.Windows10SDK.19041",
             "Microsoft.VisualStudio.Component.VC.CMake.Project",
             "Microsoft.VisualStudio.Component.VC.CoreIde",
             "Microsoft.VisualStudio.ComponentGroup.NativeDesktop.Core",
             "Microsoft.VisualStudio.Component.VC.v141.x86.x64"
          )
          $componentArgs = ($components | ForEach-Object { "--add $_" }) -join " "
          $installCmd = ".\vs_buildtools.exe --quiet --norestart --force --wait $componentArgs"
          Start-Process -FilePath ".\vs_buildtools.exe" -ArgumentList $installCmd.Split() -Wait -PassThru
      - name: MSVC
        uses: ilammy/msvc-dev-cmd@v1.13.0
        with:
          arch: x64
          vsversion: ${{matrix.vsversion}}
      - uses: Jimver/cuda-toolkit@v0.2.24
        id: cuda-toolkit
        with:
          cuda: ${{ matrix.version }}
      - run: nvcc -V
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: wszgrcy/DeepSpeed
          ref: v${{env.DeepSpeedVersion}}
          path: deepSpeed
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: whatever
      - name: install dep
        run: |
          conda create -p ./.venv python=3.10.18
          conda activate ./.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/${{ matrix.device }}
          pip install wheel ninja packaging py-cpuinfo psutil
          pip install tqdm pydantic msgpack hjson einops
          pip install numpy  build

      - name: build
        working-directory: deepSpeed
        run: |
          conda activate ../.venv
          Set-Item -Path "Env:DS_ACCELERATOR" -Value "cuda"
          Set-Item -Path "Env:TORCH_CUDA_ARCH_LIST" -Value "${{matrix.archList}}"
          Set-Item -Path "Env:DS_BUILD_STRING" -Value "+${{ matrix.device }}"
          ./build_win.bat
      - run: ls ./dist
        working-directory: deepSpeed
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./deepSpeed/dist/**/*
          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
      - run: |
          conda activate ./.venv
          pip install ./deepSpeed/dist/deepspeed-${{env.DeepSpeedVersion}}+${{ matrix.device }}-cp311-cp311-win_amd64.whl
          python -m deepspeed.env_report
