name: win-deepspeed
run-name: win-deepspeed
on:
  push:
    paths:
      - '.github/workflows/win-deepspeed.yaml'

permissions:
  contents: write
env:
  RUNNER_DEBUG: '1'
  version: 1.2.2
  DeepSpeedVersion: '0.17.5'
  
jobs:
  update-release:
    strategy:
      matrix:
        include: 
          - device: cu129
            version: '12.9.0'
            versionPath: '12.9'
            archList: '6.1;7.0;7.5;8.0;8.6;8.9;9.0;10.0;10.3;12.0'
          - device: cu118
            version: '11.8.0'
            versionPath: '11.8'
            archList: '6.1;7.0;7.5;8.0;8.6;8.9;9.0'

    runs-on: windows-latest
    steps:
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          vs-version: '[16.0,18.0)'
      - run: |
              ls "C:\Program Files (x86)\Microsoft Visual Studio"
              ls "C:\Program Files\Microsoft Visual Studio"
      - uses: TheMrMilchmann/setup-msvc-dev@v4
        with:
          arch: x64
          toolset: '16.0'
      # - name: MSVC
      #   uses: ilammy/msvc-dev-cmd@v1.13.0
      #   with:
      #     arch: x64
      #     vsversion: '16.0'
      - uses: Jimver/cuda-toolkit@v0.2.24
        id: cuda-toolkit
        with:
          cuda: ${{ matrix.version }}
      - run: nvcc -V
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: wszgrcy/DeepSpeed
          ref: v${{env.DeepSpeedVersion}}
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: whatever
      - name: install dep
        run: |
          conda create -p ./.venv python=3.10.18
          conda activate ./.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/${{ matrix.device }}
          pip install wheel ninja packaging py-cpuinfo psutil
          pip install tqdm pydantic msgpack hjson einops
          pip install numpy  build

      - name: build
        run: |
          conda activate ./.venv
          Set-Item -Path "Env:DS_ACCELERATOR" -Value "cuda"
          Set-Item -Path "Env:TORCH_CUDA_ARCH_LIST" -Value "${{matrix.archList}}"
          Set-Item -Path "Env:CUDA_HOME" -Value "C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v${{matrix.versionPath}}"
          Set-Item -Path "Env:DS_BUILD_STRING" -Value "+${{ matrix.device }}"
          ./build_win.bat
      - run: ls ./dist
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./dist/**/*
          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
      - run: |
          conda activate ./.venv
          pip install .\dist\deepspeed-${{env.DeepSpeedVersion}}+${{ matrix.device }}-cp310-cp310-win_amd64.whl
          python -m deepspeed.env_report
