name: win-deepspeed
run-name: win-deepspeed
on:
  push:
    paths:
      - '.github/workflows/win-deepspeed.yaml'
    # tags:
    #   - shb-py

permissions:
  contents: write
env:
  RUNNER_DEBUG: '1'
  envName: 'shb-python'
  version: 1.2.1
jobs:
  update-release:
    strategy:
      matrix:
        device: [cuda]

    runs-on: windows-latest
    steps:
      - name: pull-code
        uses: actions/checkout@v4
        with:
          path: wszgrcy/DeepSpeed
          # ref: v0.17.5
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: whatever
      - run: |
          conda create -p ./.venv python=3.10.18
          conda activate ./.venv
        # working-directory: ${{ env.envName }}
      - name: install zluda1
        if: ${{ matrix.device=='zluda' }}
        # working-directory: ${{ env.envName }}
        run: |
          conda activate ./.venv
          python zluda_init.py
      - name: install cuda
        if: ${{ matrix.device=='cuda' }}
        # working-directory: indextts
        run: |
          conda activate ./.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cu129
      - name: install zluda
        if: ${{ matrix.device=='zluda' }}
        # working-directory: indextts
        run: |
          conda activate ./.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cu118
      - name: install xpu
        if: ${{ matrix.device=='xpu' }}
        # working-directory: indextts
        run: |
          conda activate ./.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/xpu
      - name: install cpu
        if: ${{ matrix.device=='cpu' }}
        # working-directory: indextts
        run: |
          conda activate ./.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cpu
      - name: install common2
        # working-directory: indextts
        run: |
          conda activate ./.venv
          ./build_win.bat
          ls

