name: python-windows-pkg
run-name: python-windows-pkg
on:
  push:
    paths:
      - ".github/workflows/windows-pkg.yaml"

permissions:
  contents: write
env:
  envName: "funasr-env"
  version: 1.0.1
jobs:
  update-release:
    strategy:
      matrix:
        device: [cpu, cuda, zluda, xpu]

    runs-on: windows-latest
    steps:
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: "modelscope/FunASR"
          path: "./funasr"
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: "wszgrcy/shb-python2"
          token: ${{ secrets.SHB_PY_TOKEN }}
          path: ${{ env.envName }}
          ref: "funasr"
      - name: pull-code
        uses: actions/checkout@v4
        with:
          repository: ${{secrets.INDEXTTS_REPO}}
          path: indextts
          ref: build
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: whatever
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - run: |
          conda create -p ./.venv python=3.10
          conda activate ./.venv
        working-directory: ${{ env.envName }}
      - name: install zluda1
        if: ${{ matrix.device=='zluda' }}
        working-directory: ${{ env.envName }}
        run: |
          conda activate ./.venv
          python zluda_init.py
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cu118
      - name: install cuda
        if: ${{ matrix.device=='cuda' }}
        run: |
          conda activate ./${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cu129
          pip install https://github.com/wszgrcy/shb-python-addon-repo/releases/download/1.2.2/deepspeed-0.17.5+cu129-cp310-cp310-win_amd64.whl

      - name: install xpu
        if: ${{ matrix.device=='xpu' }}
        run: |
          conda activate ./${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/xpu
      - name: install cpu
        if: ${{ matrix.device=='cpu' }}
        run: |
          conda activate ./${{ env.envName }}/.venv
          pip install torch torchaudio --index-url https://download.pytorch.org/whl/cpu
      - name: install indextts
        working-directory: indextts
        run: |
          conda activate ../${{ env.envName }}/.venv
          uv sync --active
          pip install .
          pip install fastapi
          pip install uvicorn
          pip install huggingface_hub modelscope
          pip install openai-whisper
          pip install cachetools
          pip cache purge
      - name: install funasr
        working-directory: funasr
        run: |
          conda activate ../${{ env.envName }}/.venv
          pip install .

      - uses: wszgrcy/actions-pkg@1.3.5
        with:
          unzipDir: ${{ env.envName }}
          zipPath: ./${{env.envName}}-${{ env.version }}-win32-x64-${{ matrix.device }}.tar.zstd
          zstdLevel: "12"
          chunkSize: "1.95GB"
          password: "pass:${{secrets.PKG_PASSWORD}}"
          cleanPaths: |
            ./.venv/**/*.{h,cpp,c,hpp,cmake}
            ./.venv/conda-meta/**/*
            ./.venv/etc/conda/**/*
            ./.venv/Library/man
            ./.venv/Library/share
            ./.venv/Library/cmake
            ./.venv/Library/include
            ./.venv/Library/etc
            ./.venv/Library/WebP
            ./.venv/Library/lib/pkgconfig
            ./.venv/Library/ssl
            ./.venv/Tools/demo
            ./.venv/fonts
            ./.venv/include
            ./.venv/etc
            ./.venv/conda-meta
            ./.venv/share
            ./.venv/LICENSE_PYTHON.txt
            ./.git
            ./.vscode
            ./util
            ./zluda_init.py
      - name: release
        uses: softprops/action-gh-release@v2.4.0
        with:
          files: |
            *.enc
            *.tar.zstd
            *.001
            *.002
            *.003
            *.004

          tag_name: ${{ env.version }}
          repository: ${{secrets.UPDATE_SHB_PY_REPO}}
          token: ${{ secrets.SHB_PY_TOKEN }}
